.mainBodyStud{
    background-image: url("../../../img/trianglifyBlueGree-1.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding-top: 20vh;   
    padding-bottom: 10vh;
}

li .stud {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
    
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 600px;
  }
  
  li .studEdit{
    width: 200px;
      
  }

  li .stud:hover {
    font-size: 18px;
  }


