.instructions{
    font-size: 32px;
    font-weight: bold;
}
.mainBody{
    
        background-image: url("../../img/trianglifyBlueGree-1.jpg"); 
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
}
.titleNoNav{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    top: 0;
    padding-bottom: 20px;
    margin-top: 20px;
}
.buttonBarNoNav{
    display: flex;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
    background: rgba(143,157,184,0.3);
}
.updateBtnsNoNav{
    width: 33.33vw;
    margin-left: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
Datepicker{
    height: 40px;
}
.dateText{
    background: #8f9db8;
    box-shadow: inset 8px 8px 20px rgba(141, 141, 141, 0.7);
    width: auto;
    height: auto;
    font-size: 28px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}
.datePicker{
    padding: 18px;
    margin: 7px 4px 7px 4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    font-size: 22px;
}

.feeInput{
    width: 5vw;
    height: 5vh;
    font-size: 22px;
}


.addContainerInst{
    display: inline;
    padding-right: 12vw;
}
.addContainerStud{
    display: inline;
    padding-right: 6vw;
}
.addDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.addCat{
    font-size: 26px;    
}
.addInput{
    padding: 10px;
    font-size: 22px;
}
.joke{
    font-size: 28px;
    margin-bottom: 35px;
}
StripeCheckout{
    padding: 10px;
}