.loginPg{
    height: 100%;
    width: 100%;
    background: #67989A;
    
}
nav{
   
    display: flex;
}
.company_name{
    display: flex;
    height: 100%;
    width: 75%;
   
}
.lydian{
    margin-left: 2%;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 80px;
    color: rgb(133, 192, 194);
    text-shadow: 2px 2px #272727;
    margin-right: 5px;
    display: flex;

}
.inventory{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #67989A;
    display: flex;
}

.login{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    width: 25%;
    margin-right: 5%;
}
.loginBtn{
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ddfff9;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:13px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;

}
.loginBtn:hover{
    background-color:#67989A;
}
.loginBtn:active{
    position:relative;
	top:1px;
}
.home_img{
    height: 88%;
    width: 100%;
    display: flex;
    align-content: center;
}
