.title{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.main{
    background: #dbdbdb;
    height: 100%;
    width: 100%;
}
.mainBodyInv{
    
        background-image: url("../../../img/trianglifyBlueGree-1.jpg"); 
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        padding: 18vh;   
}

.buttonBar{
    display: flex;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
    background: #8f9db8;
    /* background: rgba(143,157,184,0.95); */
    /* background-color: transparent; */
}
.updateBtns{
    width: 250px;
    margin-left: 37vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sideBar{
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 16vh; 
    left: 0;
    background-color: #67989A; 
    overflow-x: hidden; 
    padding-top: 20px;
}

button{
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ddfff9;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;

}
button:hover{
    background-color:#cfe2bd;
    color: white;

}
button:active{
    position:relative;
	top:1px;
}
.inventoryList{
    background: rgba(223,234,213,0.6);
}
.checkbox{
    display: flex;
    padding-bottom: 15px;
}







.invList{
  width: 450px;
  margin: 30px;
}

h2 {
  font: 400 32px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  list-style-type: none;
}

.label{
  font-weight: bold;
    
}

/* li:last-child {
  border: none;
} */

li p {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 550px;
}

li p:hover {
  font-size: 18px;
}


li EditableLabel {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
    
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 550px;
  }
  
  li EditableLabel:hover {
    font-size: 18px;
  }