.title{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.main{
    background: #dbdbdb;
    height: 100vh;
    width: 100%;
}
.mainBodyInst{
  
        background-image: url("../../../img/trianglifyBlueGree-1.jpg"); 
        min-height: 70vh;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        padding-top: 20vh;   
        padding-left: 10vw;
        padding-bottom: 10vh;
}
.searchBar{
  width: 33.3vw;
  display: flex;
  justify-content: center;
}
.buttonBar{
    display: flex;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    background: #8f9db8;
    /* background: rgba(143,157,184,0.95); */
    /* background-color: transparent; */
}
.updateBtns{
    width: 33.3vw;
    margin-left: 33.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sideBar{
  height: 100%; 
  width: 15vw; 
  position: fixed; 
  z-index: 1; 
  top: 16vh; 
  left: 0;
  background-color: #67989A; 
  overflow-x: hidden; 
  padding-top: 6vh;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

}
.sideTitle{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
}
.sideLink{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;  
  color: #115576;
  text-decoration: none;
  padding-top: 10px;
  margin-left: 10px;
}

select{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

input[type=search] {
  width: 195px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../../../img/searchIcon2.png');
  background-size: 20px 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 270px;
}

button{
    -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ddfff9;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-right: 15px;
    
}
button:hover{
    background-color:#cfe2bd;
    color: white;

}
button:active{
    position:relative;
	top:1px;
}

.editLabel{
  background: rgba(223,234,213,0.6);
  height: 35px;
  font-size: 18px;
}


.inventoryList{
    background: rgba(223,234,213,0.6);
}
.checkbox{
    display: flex;
    padding-bottom: 15px;
}

.invList{
  width: 450px;
  margin: 30px;
}

h2 {
  font: 400 32px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  list-style-type: none;
}
.liCheckOut{
  font: 200 24px/1.5 Helvetica, Verdana, sans-serif;
  list-style-type: none;
}

.label{
  font-weight: bold;
  font-size: 20px;
}

li p {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 625px;
}

li p:hover {
  font-size: 20px;
}


li EditableLabel {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
    
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 550px;
  }
  
  li EditableLabel:hover {
    font-size: 18px;
  }

 .instEdit{
    width: 200px;
    font-size: 20px;
  }
  .instEdit:hover{
    font-size: 22px;
    background: rgba(223,234,213,0.6);
  }

  li .out{
      width: 650px;
  }
  li .assign{
    width: 700px;
      
  }
  .updateEl{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 16.66vw;
    margin-left: 30.8vw; 
    padding-right: 10vw;
    
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 16.66vw;
  margin-right: 30.8vw; 
}

